.icon-card {
    &.style-four {
        padding: 0;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;

        .icon {
            width: 72px;
            height: 72px;
            background: $primary-color;
            border-radius: 50px;
            justify-content: center;
            align-items: center; 
            transform: translate(180%, 50%);
            i {
                color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .content {
            width: 100%;
            padding: 55px 30px 30px 30px;
            background: $gray-50;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
        }
    }
}
