.card-wrapper{
    overflow: hidden;

    &.style-two{

     .card{
        position: relative; 
        height: 500px;
        width: 100%;
        border: none;
        background: transparent;
        @include transition;

        img {
         position: relative;
         width: 100%; // Ensure the image takes the full width of its container

         &:before {
             content: "";
             position: absolute;
             top: 0;
             left: 0;
             width: 100%; // Make sure the gradient covers the entire image
             height: 100%; // Make sure the gradient covers the entire image
             background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
             z-index: 99;
             opacity: 1; // Set the initial opacity
             @include transition;
         }
        }
        .card-action{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 90%;
         left: 5%;
         transform: translate(-5%);
         background: transparent; 
         transform: translateY(50%);
         @include transition;
         

         i{
            color: $secondary-color;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: $white;
            background:  transparent;
            border: 1px solid $gray-30;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            @include transition;

            &:hover{
             background: $primary-color;
            }
         }
        }

        .card-body{
         position: absolute;
         width: 94%;
         left: 3%;
         transform: translate(-3%);
         background: $white;
         box-shadow: $box-shadow;
         transform: translateY(50%);
         @include transition;


         .details{

            .icon-content{
                display: flex;
                justify-content: start;
                margin-right: 15px;
                margin-top: 2px;
                margin-bottom: 10px;


             .icon{
                font-size: 12px; 
                margin-right: 3px;

              i{
                width: 30px;
                height: 30px;
                line-height: 30px;
                background: transparent;
                border: 1px solid $gray-30;
                text-align: center;

                &:hover{
                 color: $white;
                 background: $primary-color;
                 border: 1px solid $white;
                }
              }
             }

             .content{
                font-size: 12px;

             }
            }
         }

         .card-title{
            font-family: $body-font;
            font-size: 21px;
            font-weight: 700;
            color: $secondary-color;
            margin:  0px;
        
         }

         .card-text{
            font-size: 15px;
         }
        }

         &:hover{  
         height: 620px;

         img {
             &:before {
                 opacity: 0;
             }
         }

         .card-body{
            transform: translateY(90%);
            left: 0;
            width: 100%; 
            box-shadow: $box-shadow;

         }
         }
        }


        @include xl{
            height: 400px;

            .card-body{
               transform: translateY(35%); 

               .location-icon{
                  font-size: 11px;
               }
      
               .content{
                  font-size: 11px;
                  
               }
               
            .details{
               .icon-content{ 
                  margin-right: 10px;
               .icon{
                  font-size: 11px; 
               }

               .content{
                  font-size: 11px;

               }
               }
            }
            
            .card-text{
               font-size: 13px;
            }

            }

            &:hover{
             height: 500px;

             .card-body{
                transform: translateY(72%); 
    
             }
            }

        }

        @include lg{
         height: 450px;

         &:hover{
            height: 550px;
         }
        }

        @include md{
         height: 420px;

         .card-title{ 
            font-size: 20px!important; 
        
         }

         &:hover{
            height: 510px;
         }
        }

        @include sm{
            height: 520px;
 
        }

        @include nesthub{

         .card-body{
            transform: translateY(35%); 

            .card-title{
               font-size: 17px;
            } 

            .location-icon{
               font-size: 10px;
            }
   
            .content{
               font-size: 10px;
               
            }
            
            .details{
               .icon-content{ 
                  margin-right: 12px;
                  .icon{
                     margin-right: 4px;
                     i{
                       width: 15px;
                       height: 15px;
                       line-height: 15px; 
                     }
                  }

               .content{
                  font-size: 10px;

               }
               }
            }

            .card-text{
               font-size: 12px;
            }

         }

        }

        @include rmaxwd(476){
         height: 450px;

         .card-body{
            transform: translateY(50%); 

            .card-title{
               font-size: 17px;
            }  
            .location-icon{
               font-size: 8px;
            } 
            .content{
               font-size: 9px;
               
            } 
            .details{
               .icon-content{ 
                  margin-right: 10px;
               .icon{
                  margin-right: 1px;
                  i{
                    width: 15px;
                    height: 15px;
                    line-height: 15px; 
                  }
               }

               .content{
                  font-size: 8px;

               }
               }
            } 
            .card-text{
               font-size: 12px;
            }  
         }

         &:hover{
          height: 550px;

          .card-body{ 
               transform: translateY(90%);  
          }
         }

        }

        @include rmaxwd(300){
         height: 470px;

         .card-body{
            transform: translateY(25%);  
         }

         &:hover{
          height: 550px;

          .card-body{ 
               transform: translateY(50%);  
          }
         }

        }
     }
    }
