.card-wrapper{
    overflow: hidden;

    &.style-two{

     .card{
        position: relative; 
        height: 500px;
        width: 100%;
        border: none;
        background: transparent;
        @include transition;

        img{
            opacity: 70%;
            @include transition;
        }

        .card-action{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 90%;
         left: 5%;
         transform: translate(-5%);
         background: transparent; 
         transform: translateY(50%);
         @include transition;
         

         i{
            color: $secondary-color;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: $white;
            background:  transparent;
            border: 1px solid $gray-30;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            @include transition;

            &:hover{
             background: $primary-color;
            }
         }
        }

        .card-body{
         position: absolute;
         width: 94%;
         left: 3%;
         transform: translate(-3%);
         background: $white;
         box-shadow: $box-shadow;
         transform: translateY(50%);
         @include transition;

         .details{

            .icon-content{
                display: flex;
                justify-content: start;
                margin: 2px 0px;

             .icon{
                font-size: 12px; 
                margin-right: 3px;

              i{
                width: 30px;
                height: 30px;
                line-height: 30px;
                background: transparent;
                border: 1px solid $gray-30;
                text-align: center;

                &:hover{
                 color: $white;
                 background: $primary-color;
                 border: 1px solid $white-100;
                }
              }
             }

             .content{
                font-size: 12px;

             }
            }
         }

         .card-title{
            font-family: $body-font;
            font-size: 21px;
            font-weight: 700;
            color: $secondary-color;
        
         }
        }

        &:hover{  
        height: 620px;

        img{
            opacity: 100%;
        }

         .card-body{
            transform: translateY(90%);
            left: 0;
            width: 100%; 

         }
        }

        @include sm{
            height: 570px;

            .card-body{
               transform: translateY(40%); 
            }

            &:hover{
             height: 670px;

             .card-body{
                transform: translateY(72%);
                left: 0;
                width: 100%; 
    
             }
            }
        }
     }
    }
}