.icon-box-wrapper{

    &.style-two{

        .icon-box{
            text-align: center;

            .icons{
                margin: 20px 0px 10px;
 
                  i{
                    margin-right: 5px; 
                    border-radius: 50%;
                    color: $text-color;
                    font-size: 15px;
                    @include transition;

                    @include sm{
                      font-size: 12px;
                      padding: 5px;
                    }
                  } 

                  &:hover{
      
                    i{ 
                     color: $primary-color; 
                    }
                  }

            }
        }
    }
}