.icon-box-wrapper{

    &.style-one{

        .icon-box{
            text-align: left;

            .icons{
                margin: 20px 0px 10px;
 
                  i{
                    margin-right: 5px;
                    padding: 8px;
                    border-radius: 50%;
                    font-size: 15px;
                    color: $white;
                    background: $gray;
                    @include transition;
                    &:hover{
                      color: $white;
                      background: $primary-color;
                    }

                    @include sm{
                      font-size: 12px;
                      padding: 5px;
                    }
                  } 

            }
        }
    }
}