.newsletter-card-wrapper{

    .newsletter-card{ 
        background: #FFFFFF05;
        padding: 36px 20px 46px 20px;
        form{
            margin-bottom: 28px;
            border-bottom: 1px solid #EDEDED2B; 

         input{
            width: 100%;
            background: transparent;
            color: #EDEDED2B;
            border: 0px; 
         }
         input[type=email]{
            padding: 0px;
            margin-bottom: 5px;
         }
        }
    }
}